.about-container {
  position: relative;
  height: 100vh;
  width: 100%;
  // transform-style: preserve-3d;
  // background: #000;
  // transform: translateZ(0) scale(1);
  // z-index: 8;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
}
.box-container {
  height: 80vh;
  width: 80vw;
  display: flex;
}
.pic-container {
  height: 300px;
  width: 300px;
  display: flex;
  object-fit: contain;
}
.main-pic {
  border-radius: 50%;
  display: flex;
  object-fit: contain;
  width: 75%;
  margin-bottom: 2.5rem;
  filter: saturate(0.9);
}
.text-container {
  display: flex;
  flex-direction: column;
}
.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}
