:root {
  --background: #d4d4d4;
  --primary-color: #191b1e;
  --secundary-color: #434343;
}
html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
// ::-webkit-scrollbar {
//   width: 15px;
// }
[data-theme="dark"] {
  --background: #191b1e;
  --primary-color: #d4d4d4;
  --secundary-color: #434343;
}
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.neu {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.box-container {
  height: 65vh;
  width: 90vw;
  display: flex;
  // overflow-x: hidden;
  // overflow-y: auto;
  // perspective: 300px;
}
.title-section {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}
.center {
  align-items: center;
  justify-content: center;
}
.switch {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 50;
  top: 50px;
  left: 60px;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
}

.h-orange {
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// --------------------------------------------------------
.square {
  width: 200px;
  height: 200px;
  background: teal;
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .square {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.square-transition {
  opacity: 1;
  transform: none;
}
