* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
 }


.parallax-group {
  position: relative;
  height: 100vh;
  width: 100%;
}
.parallax-layer {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url("../img/sky.png") no-repeat center;
  background-size: cover;
  z-index: 1;
}

.mountains {
  background: url("../img/mountains.png") no-repeat center;
  background-size: cover;
  z-index: 2;
}

.buildings1 {
  background: url("../img/buildings1.png") no-repeat center;
  background-size: cover;
  z-index: 4;
}

.buildings2 {
  background: url("../img/buildings2.png") no-repeat center;
  background-size: cover;
  z-index: 6;
}

.gradient {
  background: linear-gradient(
    rgba(1, 255, 217, 0.111) 0%,
    rgba(255, 187, 0, 0.268) 86%,
    rgb(218, 218, 218) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}
.name-parallax{
  z-index: 3;
}
.lastname-parallax{
  z-index: 5;
}
.name-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.name-container h1 {
  font-weight: 400;
  // position: fixed;
  font-size: 5.5rem;
}

.name-container h1:nth-of-type(1) {
  color:#ffffff;
  text-shadow: rgba(46, 46, 46, 0.623) 1px 0 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  top: 18%;
  left: -62%;
  font-size: 3.5rem;
  height: 25px;
}

.name-container h1:nth-of-type(2) {
  left: -58%;
  text-shadow: rgba(46, 46, 46, 0.623) 1px 0 10px;
  color: #ffffff;
  top: 24%;
  font-size: 10rem;
  font-weight: 500;
  height: 132px;
}

.lastname-parallax h1:nth-of-type(1) {
  display: flex;
  position: absolute;
  text-shadow: rgba(46, 46, 46, 0.812) 1px 0 10px;
  color: #ffffff;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-weight: 300;
  font-size: 5.89rem;
}

