* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.parallax_group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}
.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url("../../public/img/sky.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.mountains {
  background: url("../../public/img/mountains.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.buildings1 {
  background: url("../../public/img/buildings1.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.buildings2 {
  background: url("../../public/img/buildings2.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.hero-text {
  background: linear-gradient(
    rgba(0, 183, 255, 0.58) 0%,
    rgba(255, 30, 101, 0.25) 86%,
    rgba(1, 0, 0, 0.692) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}
.name-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
.name-container h1 {
  font-weight: 400;
  // position: fixed;
  font-size: 5.5rem;
}

.name-container h1:nth-of-type(1) {
  top: 18%;
  left: -62%;
  font-size: 3.5rem;
  height: 25px;
}

.name-container h1:nth-of-type(2) {
  left: -58%;
  top: 24%;
  font-size: 10rem;
  font-weight: 500;
  height: 132px;
}

.name-container h1:nth-of-type(3) {
  top: 238px;
  right: 18%;
  white-space: nowrap;
  font-weight: 200;
  font-size: 5.89rem;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 3rem;
  margin-right: 0.25rem;
}
.social-container i:hover {
  color: deepskyblue;
  transition: all 0.3s ease-in-out;
}
