.side-email {
  position: absolute;
  // margin: 2rem;
  writing-mode: sideways-rl;
  display: inline-block;
  left: 1.5vw;
  text-decoration-skip-ink: auto;
  color: inherit;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: relative;
  top: 300px;
}
.email-container {
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
a svg {
  width: 20px;
  height: 20px;
}
.social-container {
  position: absolute;
  top: 196px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
    left: 1.5vw;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
