.work-container {
  position: relative;
  height: 60vh;
  width: 100%;
  // background: linear-gradient(180deg, rgba(212,212,212,1) 48%, rgba(255,240,183,0) 100%);
  z-index: 5;
  display: flex;
}

.pic-container {
  height: 300px;
  width: 300px;
  display: flex;
  object-fit: contain;
}
.pic1 {
  border-radius: 15%;
  display: flex;
  object-fit: contain;
  max-width: 80%;
  margin-bottom: 2.5rem;
  filter: saturate(0.9);
}
.work-container div .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 45vh;
  text-align: justify;
  flex-grow: 1;
  max-width: 50%;
  .petshop-container{
    flex-direction: row;
    display: flex;
  }
}
.work-container div .text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size:1.1rem;
  margin: 2rem 1rem;
}

.work-container div .text-container p:nth-of-type(2) {
  font-size: 1rem ;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.work-container .box-container{
  margin-top: 20px;
}
